.btnViewFull:hover {
  color: var(--bs-indigo) !important;
}

@keyframes fadeInColor {
  0% {
    opacity: 0;
    background-color: rgb(123, 123, 123);
  }
  100% {
    opacity: 1;
    background-color: black;
  }
}

.boxGrid {
  background-color: black;
  animation: fadeInColor 1s ease-out; /* Use fadeInColor animation, 1 second duration */
}
